
.font_yellow {
    color: #ffff00;
}

.wrap #container span, p, li{
    font-family: "Noto Sans KR" !important;
}

.wrap #container .section_first{
    width: 100%;
    height: 1446px;
    background-image: url(/img/bg1.png);
    background-repeat: no-repeat;
}
.wrap #container .section_first .infobox {
    position: absolute;
    top: 640px;
    right: 670px;
    display: inline-block;
    background-color: #ff6a4d;
    border-radius: 24px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.24);
}
.wrap #container .section_first .infobox_text {
    margin: 24px 100px;
    color: #fff;
    font-size: 24px;
    line-height: 36px;
    
}

.wrap #container .section_first .exhibit {
    position: absolute;
    top: 820px;
    right: 770px;
}

.wrap #container .section_first .exhibit .exhibit_text {
    display: inline-block;
    padding: 13px 35px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: -1.68px;
    color: #fff;
    background-color: #01bafb;
    border-radius: 35px;

}

.wrap #container .recomandProgram {
    background-color: #f0f7fa;
}
