
.font_yellow {
    color: #ffff00;
}

.wrap #container span, p, li{
    font-family: "Noto Sans KR" !important;
}

.wrap #container .section_first{
    width: 100%;
    height: 1446px;
    background-image: url(/img/bg1.png);
    background-repeat: no-repeat;
}

.wrap #container .section_first .infobox {
    padding-top: 640px;
}

.wrap #container .section_first .infobox .infobox_text {
    width: 632px;
    margin: 0 auto;
    background-color: #ff6a4d;
    border-radius: 24px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.24);
    padding: 24px 100px;
    color: #fff;
    font-size: 24px;
    line-height: 36px;
}

.wrap #container .section_first .exhibit {
    padding-top: 60px;
}

.wrap #container .exhibit_text {
    max-width: 462px;
    margin: 0 auto;
    padding: 13px 35px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: -1.68px;
    color: #fff;
    background-color: #01bafb;
    border-radius: 35px;

}

.exhibit_item {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.programItem_top {
    width: 380px;
    height: 446px;
    background: #fff;
    border-radius: 10px;
    float: left;
    overflow: hidden;
    margin: 0 20px 20px 0;
    position: relative;
    box-shadow: 10px 10px 20px 0 rgb(0 0 0 / 24%);
}

.programItem_top:nth-child(3n) {
    margin-right: 0;
}

.programItem_top .img_box {
    width: 380px;
    height: 214px;
}

.programItem_top .info_box {
    padding: 15px 20px 25px;
}

.programItem_top .info_box>p {
    width: 340px;
    height: 80px;
    font-size: 22px;
    color: #222;
    line-height: 32px;
    font-weight: 800;
    border-bottom: 1px solid #eee;
    letter-spacing: -1.32px;
}

.programItem_top .info_box>div {
    margin-top: 15px;
}

.programItem_top .info_box>div p {
    font-size: 17px;
    color: #666;
    font-weight: 500;
    margin-bottom: 5px;
}

.programItem_top .info_box>div p span {
    font-size: 16px;
    color: #aaa;
    margin-right: 10px;
    font-weight: 600;
}

.programItem_top .info_box>div>span {
    margin-top: 10px;
    display: block;
    color: #444;
    font-size: 17px;
    font-weight: 600;
}

.programItem_top .tagArea {
    width: 110px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 16px;
}

.programItem_top .tagArea div {
    width: 90px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    display: none;
    padding-bottom: 1px;
}

.programItem_top .tagArea div.on {
    display: flex;
}

.programItem_top .tagArea div.green {
    background: #92d050;
}

.programItem_top .tagArea div.navy {
    background: #4472c4;
}

.programItem_top .tagArea div.orange {
    background: #ff6600;
}

.programItem_top .tagArea div.purple {
    background: #9999ff;
    width: 110px;
}

.programItem_top .tagArea div.gray {
    background: #bfbfbf;
}

.wrap #container .recommendProgram {
    background-color: #f0f7fa;
    padding-bottom: 80px;
}

.recommendProgram .rpTitle {
    width: 360px;
    margin: 0 auto;
    padding-top: 60px;
}

.recommendProgram ul {
    max-width: 760px;
    width: auto;
    height: 64px;
    overflow: hidden;
    margin: 0 auto;
}

.recommendProgram ul li {
    margin: 0 0.5%;
    float: left;
    cursor: pointer;
    width: 24%;
}

.recommendProgram ul li a {
    display: block;
    width: 100%;
    height: 56px;
    color: #5e6366;
    font-size: 20px;
    text-align: center;
    border: 1px solid #cadce5;
    border-radius: 8px;
    line-height: 56px;
    letter-spacing: -1.2px;
}

.recommendProgram ul li a:hover {
    text-decoration: none;
    color: #5e6366;
}

.recommendProgram ul li.on a {
    color: #fff;
    background: #ff6a4d;
    border: none;
    font-weight: 600;
    position: relative;
}

.recommendProgram ul li.on a::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: #ff6a4d;
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: rotate(45deg) translateX(-50%);
}

.recommendProgram .plusBtnArea {
    max-width: 1180px;
    width: 100%;
    height: 32px;
    text-align: right;
    margin: 8px auto 0;
}

.recommendProgram .plusBtnArea * {
    float: right;
}

.recommendProgram .plusBtnArea span {
    font-size: 17px;
    line-height: 32px;
    color: #222;
    font-weight: 600;
    margin-right: 10px;
}

.recommendProgram .plusBtnArea button {
    width: 32px;
    height: 32px;
    background: url(/img/plus.png) no-repeat center #fff;
    border: 1px solid #cadce5;
}

.programList {
    max-width: 1180px;
    width: 100%;
    margin: 32px auto 0;
    display: none;
    flex-wrap: wrap;
    text-align: center;
}

.programList.on {
    display: flex;
}

.programItem {
    width: 32%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 2% 20px 0;
    position: relative;
    box-shadow: 10px 10px 15px #ccc;
}

.programItem a:hover {
    text-decoration: none;
}

.programItem:nth-child(3n) {
    margin-right: 0;
}

.programItem .img_box {
    width: 100%;
}

.programItem .info_box {
    padding: 15px 20px 25px;
}

.programItem .info_box>p {
    width: 100%;
    height: 71px;
    font-size: 22px;
    color: #222;
    line-height: 32px;
    font-weight: 800;
    border-bottom: 1px solid #eee;
    letter-spacing: -1.32px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.programItem .info_box>div {
    margin-top: 15px;
}

.programItem .info_box>div p {
    font-size: 17px;
    color: #666;
    font-weight: 500;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.programItem .info_box>div p span {
    font-size: 16px;
    color: #aaa;
    margin-right: 10px;
    font-weight: 600;
}

.programItem .info_box>div>span {
    height: 46px;
    margin-top: 15px;
    display: block;
    color: #444;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.68px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.programItem .tagArea {
    width: 110px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 16px;
}

.programItem .tagArea div {
    width: 90px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    display: none;
    padding-bottom: 1px;
}

.programItem .tagArea div.on {
    display: flex;
}

.programItem .tagArea div.green {
    background: #92d050;
}

.programItem .tagArea div.navy {
    background: #4472c4;
}

.programItem .tagArea div.orange {
    background: #ff6600;
}

.programItem .tagArea div.purple {
    background: #9999ff;
    width: 110px;
}

.programItem .tagArea div.gray {
    background: #bfbfbf;
}

/* 모바일 반응형 */
@media (max-width:768px) {
    span, p, li{
        font-family: "Noto Sans KR" !important;
    }

    .wrap #container .section_first{
       
        background-color: #002b80;
        background-image: url(/img/bg_m.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: auto;
    }

    .wrap #container .section_first .infobox {
        padding-top: 545px;
    }
    
    .wrap #container .section_first .infobox .infobox_text {
        font-family: "Noto Sans KR" !important;
        max-width: 352px;
        margin: 0 auto;
        background-color: #ff6a4d;
        border-radius: 24px;
        box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.24);
        padding: 11px 15px;
        color: #fff;
        font-size: 18px;
        line-height: 30px;
    }

    .wrap #container .section_first .exhibit {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #002b80;
    }
    
    .wrap #container .exhibit_text {
        max-width: 300px;
        height: 48px;
        margin: 0 auto;
        padding: 8px 10px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.6;
        letter-spacing: -1.2px;
        color: #fff;
        background-color: #01bafb;
        border-radius: 35px;
        text-align: center;
    
    }

    .exhibit_item {
        padding-top: 40px;
        flex-wrap: wrap;

        
    }
    .programItem_top {
        width: 350px;
        height: 411px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 0 20px 0;
        position: relative;
        box-shadow: 10px 10px 20px 0 rgb(0 0 0 / 24%);
    }

    
    .programItem_top .img_box {
        width: 380px;
        height: 214px;
    }
    
    .programItem_top .info_box {
        padding: 15px 20px 25px;
    }
    
    .programItem_top .info_box>p {
        width: 313px;
        height: 70px;
        font-size: 22px;
        color: #222;
        font-weight: 800;
        border-bottom: 1px solid #eee;
        letter-spacing: -1.32px;
    }
    
    .programItem_top .info_box>div {
        margin-top: 15px;
    }
    
    .programItem_top .info_box>div p {
        font-size: 15px;
        color: #666;
        font-weight: 500;
        margin-bottom: 5px;
    }
    
    .programItem_top .info_box>div p span {
        font-size: 15px;
        color: #aaa;
        margin-right: 10px;
        font-weight: 600;
    }
    
    .programItem_top .info_box>div>span {
        margin-top: 10px;
        display: block;
        color: #444;
        font-size: 15px;
        font-weight: 600;
    }
    
    .programItem_top .tagArea {
        width: 110px;
        height: 32px;
        position: absolute;
        left: 0;
        top: 16px;
    }
    
    .programItem_top .tagArea div {
        width: 90px;
        height: 100%;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 0 5px 5px 0;
        display: none;
        padding-bottom: 1px;
    }

    .wrap #container .recommendProgram {
        background-color: #f0f7fa;
        height: auto;
        padding: 0 20px 1px;
    }
    
    .recommendProgram .exhibit {
        width: 240px;
        margin: 0 auto;
        padding-top: 60px;
    }
    
    .recommendProgram ul {
        width: 350px;
        height: 116px;
        overflow: hidden;
        margin: 0 auto;
    }
    
    .recommendProgram ul li {
        float: left;
        margin: 0 10px 10px 0;
        width: 170px;
    }

    .recommendProgram ul li:nth-child(2n) {
        margin-right: 0;
    }
    
    .recommendProgram ul li a {
        display: block;
        width: 170px;
        height: 53px;
        color: #5e6366;
        font-size: 18px;
        text-align: center;
        border: 1px solid #cadce5;
        border-radius: 8px;
        line-height: 53px;
        letter-spacing: -1.2px;
    }
    
    .recommendProgram ul li a:hover {
        color: #5e6366;
    }
    
    .recommendProgram ul li.on a {
        color: #fff;
        background: #ff6a4d;
        border: none;
        font-weight: 600;
        position: relative;
    }
    
    .recommendProgram ul li.on a::after {
        display: none;
    }
    
    .recommendProgram .plusBtnArea {
        width: 350px;
        height: 24px;
        text-align: right;
        margin: 22px auto 20px;
    }
    
    .recommendProgram .plusBtnArea * {
        float: right;
    }
    
    .recommendProgram .plusBtnArea span {
        font-size: 14px;
        line-height: 24px;
        color: #222;
        font-weight: 600;
        margin-right: 6px;
    }
    
    .recommendProgram .plusBtnArea button {
        width: 24px;
        height: 24px;
        background: url(/img/plus.png) no-repeat center #fff;
        background-size: 12px 12px;
        border: 1px solid #cadce5;
    }
    
    .programList {
        width: 350px;
        margin: 32px auto 0;
    }
    
    .programItem {
        width: 350px;
        height: 411px;
        background: #fff;
        border-radius: 10px;
        float: unset;
        overflow: hidden;
        margin-right: 0;
        position: relative;
        box-shadow: 10px 10px 15px #ccc;
    }
    
    .programItem:nth-child(3n) {
        margin-right: 0;
    }
    
    .programItem .img_box {
        width: 100%;
        height: 197px;
    }
    
    .programItem .info_box {
        padding: 15px 18px 24px;
    }
    
    .programItem .info_box>p {
        width: 340px;
        height: 74px;
        font-size: 22px;
        color: #222;
        line-height: 32px;
        font-weight: 800;
        border-bottom: 1px solid #eee;
        letter-spacing: -1.32px;
    }
    
    .programItem .info_box>div {
        margin-top: 15px;
    }
    
    .programItem .info_box>div p {
        font-size: 15px;
        color: #666;
        font-weight: 500;
        margin-bottom: 7px;
    }
    
    .programItem .info_box>div p span {
        font-size: 15px;
        color: #aaa;
        margin-right: 10px;
        font-weight: 600;
    }
    
    .programItem .info_box>div>span {
        margin-top: 15px;
        display: block;
        color: #444;
        font-size: 15px;
        font-weight: 600;
    }
    
    .programItem .tagArea {
        width: 103px;
        height: 29px;
        position: absolute;
        left: 0;
        top: 16px;
    }
    
    .programItem .tagArea div {
        width: 83px;
        height: 100%;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 0 5px 5px 0;
        display: none;
        padding-bottom: 1px;
    }
}



/* 상원씨 작업 */
@charset "UTF-8";
/*============================================================
    레이아웃
============================================================*/
.ab-text{
    position:absolute;
    width:0px;
    height:0px;
    opacity:0;
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    #inner-wrap{
        padding-top: 248px;
    }
}

@media screen and (max-width: 767px) and (min-width: 601px){
    #inner-wrap{
        padding-top: 209px;
    }
}
.scTravel{
    position:relative;
    overflow:hidden;
}

.scTravelHeader{
    background-image:url(https://image.scienceall.com/2021/12/scTravel-bg1.png);
    background-size:cover;
    background-position:center center;
    padding:290px 0 690px;
    line-height:0;
}

.scTravelPage-container{
    max-width:1280px;
    padding:0 40px;
    margin:0 auto;
    position:relative;
}

.scTravelPage-container:after{
    content:"";
    display:table;
    clear:both;
}

.scTravelHeader-title img{
    height:285px;
}

/*Responsive*/
@media screen and (max-width: 1780px) and (min-width: 1025px) {
    .scTravelHeader{
        padding:16.292vw 0 38.764vw;
    }

    .scTravelPage-container{
        max-width:71.91011vw;
        padding:0 2.247191vw;
    }
    
    .scTravelHeader-title img{
        height:16.01123vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .scTravelHeader{
        padding:16.292vw 0 38.764vw;
    }

    .scTravelPage-container{
        max-width:90.91011vw;
        padding:0 2.247191vw;
    }
    
    .scTravelHeader-title img{
        height:16.01123vw;
    }
}

@media screen and (max-width: 767px) and (min-width: 1px) {
    .scTravelHeader{
        padding:16.292vw 0 38.764vw;
    }

    .scTravelPage-container{
        max-width:100%;
        padding:0 5.3333vw;
    }
    
    .scTravelHeader-title img{
        height:24.01123vw;
    }
}

/*지역별 추천 과학여행*/
.scTravelList{
    margin-top:-148px;
    position:relative;
    padding-bottom:415px;
}

.scTravelList:before{
    content:"";
    position:absolute;
    top:147px;
    left:0;
    right:0;
    bottom:0;
    background-color:#FBF4DF;
    background-image:url(https://image.scienceall.com/2021/12/scTravel-bg2.png);
    background-size:100% auto;
    background-position:center bottom;
    background-repeat:no-repeat;
}

.scTravelList .scTravelPage-container{
    max-width:1760px;
    text-align:center;
    line-height:0;
    font-size:0;
}


.scTravelList-inner{
    margin:0 -15px;
}

.scTravelList-inner:after{
    content:"";
    display:table;
    clear:both;
}

.scTravelList-item{
    width:20%;
    float:left;
    padding:0 15px;
}

.scTravelList-item:nth-child(odd){
    margin-top:65px;
}

.scTravelListItem-link{
    box-shadow:10px 10px 10px rgba(0,0,0,0.1);
    display:block;
    border-radius:20px 20px;
}

/*Responsive*/
@media screen and (max-width: 1780px) and (min-width: 1025px) {
    .scTravelList{
        margin-top:-8.3146vw;
        padding-bottom:23.3146vw;
    }

    .scTravelList:before{
        top:8.2584vw;
    }

    .scTravelList .scTravelPage-container{
        max-width:98.8764vw;
    }


    .scTravelList-inner{
        margin:0 -0.84269vw;
    }

    .scTravelList-item{
        padding:0 0.84269vw;
    }

    .scTravelList-item:nth-child(odd){
        margin-top:3.65168vw;
    }

    .scTravelListItem-link{
        box-shadow:0.5617vw 0.5617vw 0.5617vw rgba(0,0,0,0.1);
        border-radius:1.1235vw 1.1235vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .scTravelList{
        margin-top:-8.3146vw;
        padding-bottom:23.3146vw;
    }

    .scTravelList:before{
        top:8.2584vw;
    }

    .scTravelList .scTravelPage-container{
        max-width:98.8764vw;
    }


    .scTravelList-inner{
        margin:0 -0.84269vw;
    }

    .scTravelList-item{
        padding:0 0.84269vw;
    }

    .scTravelList-item:nth-child(odd){
        margin-top:3.65168vw;
    }

    .scTravelListItem-link{
        box-shadow:0.5617vw 0.5617vw 0.5617vw rgba(0,0,0,0.1);
        border-radius:1.1235vw 1.1235vw;
    }
}

@media screen and (max-width: 767px) and (min-width: 1px) {
    .scTravelList{
        margin-top:-8.3146vw;
        padding-bottom:23.3146vw;
    }

    .scTravelList:before{
        top:8.2584vw;
    }

    .scTravelList .scTravelPage-container{
        max-width:98.8764vw;
    }


    .scTravelList-inner{
        margin:0 -0.84269vw;
    }

    .scTravelList-item{
        padding:0 0.84269vw;
    }

    .scTravelList-item:nth-child(odd){
        margin-top:3.65168vw;
    }

    .scTravelListItem-link{
        box-shadow:0.5617vw 0.5617vw 0.5617vw rgba(0,0,0,0.1);
        border-radius:1.1235vw 1.1235vw;
    }
}

/*과학기술문화 체험 기관*/
.scTravelFooter{
    padding:0 0 100px;
    clear:both;
    position:relative;
}

.scTravelFooter:before{
    content:"";
    position:absolute;
    top:0px;
    left:0;
    right:0;
    bottom:0;
    background-color:#80d4ff;
}

.scTravelSectionTitle{
    line-height:0;
    text-align:center;
    margin-bottom:65px;
}


/* 아랫부분만 작성이라 이미지가 안보여서 margin-top주었습니다. */
.scTravelSectionTitle img{margin-top: 60px;
    height:64px;
}
/* .아랫부분만 작성이라 이미지가 안보여서 margin-top주었습니다. */
.scTravelSectionTitle-text{
    margin-top:10px;
    color:#171717;
    font-size:20px;
    line-height:1.4em;
}


/*Responsive*/
@media screen and (max-width: 1780px) and (min-width: 1025px) {
    .scTravelFooter{
        padding:0 0 5.6179vw;
        margin-top:-3.5955vw;
    }

    .scTravelFooter:before{
        top:3.48314vw;
    }

    .scTravelSectionTitle{
        margin-bottom:3.6516vw;
    }

    .scTravelSectionTitle img{
        height:3.5955vw;
    }
        
        
    .scTravelSectionTitle-text{
        margin-top:0.520833vw;
        font-size:1.04166666vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .scTravelFooter{
        padding:0 0 5.6179vw;
        margin-top:-3.5955vw;
    }

    .scTravelFooter:before{
        top:3.48314vw;
    }

    .scTravelSectionTitle{
        margin-bottom:3.6516vw;
    }

    .scTravelSectionTitle img{
        height:3.5955vw;
    }		
    
    .scTravelSectionTitle-text{
        margin-top:0.9765625vw;
        font-size:1.953125vw;
    }
}

@media screen and (max-width: 767px) and (min-width: 1px) {
    .scTravelFooter{
        padding:0 0 9.6179vw;
        margin-top:-3.5955vw;
    }

    .scTravelFooter:before{
        top:3.38314vw;
    }

    .scTravelSectionTitle{
        margin-bottom:3.6516vw;
    }

    .scTravelSectionTitle img{
        height:5.5955vw;
    }
            
    .scTravelSectionTitle-text{
        margin-top:2.38095vw;
        font-size:3.3vw;
    }
}

/*필터*/
.scTravelFilter{
    border-radius:15px 15px;
    overflow:hidden;
    margin-bottom:54px;
}

.scTravelFilter-inner{
    display:table;
    width:100%;
    table-layout:fixed;
}

.scTravelFilter-title{
    display:table-cell;
    vertical-align:middle;
    width:40%;
    background-color:#00478f;
    padding:40px 54px;
    font-size:29px;
    line-height:1.4em;
    color:#fff;
    font-weight:bold;
}

.scTravelFilter-cont{
    display:table-cell;
    vertical-align:middle;
    background-color:#fff;
}

.scTravel-select{
    width:450px;
    font-size:20px;
    line-height:1.4em;
    color:#000;
    padding:13px 0;
    border-bottom:solid 4px #00478f;
    display:block;
    height:auto !important;
    box-sizing:border-box;
    margin:0 auto;
    background-image:url(https://image.scienceall.com/2021/12/scTravel-arrow.png);
    background-size:14px 7px;
    background-position:right center;
    background-repeat:no-repeat;
    background-color:#fff;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

select.scTravel-select::-ms-expand { display: none; }

.scTravel-select:focus{
    outline:none;
    background-color:transparent;
    background-image:url(https://image.scienceall.com/2021/12/scTravel-arrow.png);
    background-size:14px 7px;
    background-position:right center;
    background-repeat:no-repeat;
}

.footer_slide{
    display:none;
}

/*Responsive*/
@media screen and (max-width: 1780px) and (min-width: 1025px) {
    .scTravelFilter{
        border-radius:0.84269vw 0.84269vw;
        margin-bottom:3.0337vw;
    }

    .scTravelFilter-title{
        padding:2.24719vw 3.0337vw;
        font-size:1.6292vw;
    }

    .scTravel-select{
        width:25.28vw;
        font-size:1.1235vw;
        padding:0.7303vw 0;
        border-bottom:solid 0.2247vw #00478f;
        background-size:0.7865vw 0.3932vw;
    }

    .scTravel-select:focus{
        background-size:0.7865vw 0.3932vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .scTravelFilter{
        border-radius:0.84269vw 0.84269vw;
        margin-bottom:3.0337vw;
    }

    .scTravelFilter-title{
        padding:2.24719vw 3.0337vw;
        font-size:1.6292vw;
    }

    .scTravel-select{
        width:25.28vw;
        font-size:1.5235vw;
        padding:0.7303vw 0;
        border-bottom:solid 0.2247vw #3B643B;
        background-size:0.7865vw 0.3932vw;
    }

    .scTravel-select:focus{
        background-size:0.7865vw 0.3932vw;
    }
}

@media screen and (max-width: 767px) and (min-width: 1px) {
    .scTravelFilter{
        border-radius:0.84269vw 0.84269vw;
        margin-bottom:8.0337vw;
    }

    .scTravelFilter-title{
        padding:3.24719vw 3.0337vw;
        font-size:3.26292vw;
    }

    .scTravel-select{
        width:calc(100% - 8vw);
        font-size:3.25235vw;
        padding:0.7303vw 0;
        border-bottom:solid 2px #00478f;
        background-size:1.4865vw 0.8032vw;
    }

    .scTravel-select:focus{
        background-size:1.4865vw 0.8032vw;
    }
}

/*포스트*/
.scTravelPostTotal{
    margin-bottom:26px;
    font-size:20px;
    line-height:1.4em;
    color:#000;
}

.scTravelPostTotal-count{
    font-weight:bold;
}

.scTravelPost-list{
    overflow:hidden;
    margin:-28px -20px;
}

.scTravelPost-item{
    width:25%;
    float:left;
    padding:28px 20px;
}

.scTravelPost-item:nth-child(4n+1){
    clear:both;
}


.scTravelPostItem-link{
    display:block;
}

.scTravelPostItemThumb{
    line-height:0;
    position:relative;
    overflow:hidden;
    margin-bottom:16px;
    background-color:#fff;
}

.scTravelPostItemThumb:after{
    content:"";
    display:block;
    padding-bottom:66.66%;
}

.scTravelPostItemThumb img{
    height:100%;
    max-width:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.scTravelPostItemCont-country{
    font-size:16px;
    line-height:1.4em;
    color:#00478f;
    font-weight:bold;
    margin-bottom:7px;
}

.scTravelPostItemCont-title{
    font-size:18px;
    line-height:1.5em;
    color:#000;
    font-weight:bold;
    display:-webkit-box;
    -webkit-line-clamp:2; /* 라인수 */
    -webkit-box-orient:vertical;
    white-space:normal;
    height:3em;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-bottom:18px;
}

.scTravelPostItemContMeta{
    overflow:hidden;
}

.scTravelPostItemContMeta-date{
    display:block;
    font-size:16px;
    line-height:1.4em;
    color:#000;
    position:relative;
    padding-left:21px;
}

.scTravelPostItemContMeta-date:before{
    content:"";
    width:15px;
    height:14px;
    background-image:url(https://image.scienceall.com/2021/12/scTravel-date.png);
    background-size:15px 14px;
    position:absolute;
    top:5px;
    left:0;
}

.scTravelPostItemContMeta-address{
    display:block;
    margin-top:4px;
    font-size:16px;
    line-height:1.4em;
    color:#000;
    position:relative;
    padding-left:21px;
}

.scTravelPostItemContMeta-address:before{
    content:"";
    width:11px;
    height:16px;
    background-image:url(https://image.scienceall.com/2021/12/scTravel-address.png);
    background-size:11px 16px;
    position:absolute;
    top:4px;
    left:2px;
}

/*Responsive*/
@media screen and (max-width: 1780px) and (min-width: 1025px) {
    .scTravelPostTotal{
        margin-bottom:1.4606vw;
        font-size:1.1235vw;
    }

    .scTravelPost-list{
        margin:-1.57303vw -1.1235vw;
    }

    .scTravelPost-item{
        padding:1.57303vw 1.1235vw;
    }

    .scTravelPostItemThumb{
        margin-bottom:1.1235vw;
    }


    .scTravelPostItemCont-country{
        font-size:0.8988vw;
        margin-bottom:0.3932vw;
    }

    .scTravelPostItemCont-title{
        font-size:1.01123vw;
        margin-bottom:1.01123vw;
    }

    .scTravelPostItemContMeta-date{
        font-size:0.8988vw;
        padding-left:1.17977vw;
    }

    .scTravelPostItemContMeta-date:before{
        width:0.8426vw;
        height:0.7865vw;
        background-size:0.8426vw 0.7865vw;
        top:0.2808vw;
    }

    .scTravelPostItemContMeta-address{
        margin-top:0.2247vw;
        font-size:0.8988vw;
        padding-left:1.17977vw;
    }

    .scTravelPostItemContMeta-address:before{
        width:0.6179vw;
        height:0.8988vw;
        background-size:0.6179vw 0.8988vw;
        top:0.2247vw;
        left:0.1123vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .scTravelPostTotal{
        margin-bottom:1.4606vw;
        font-size:1.1235vw;
    }

    .scTravelPost-list{
        margin:-1.57303vw -1.1235vw;
    }

    .scTravelPost-item{
        padding:1.57303vw 1.1235vw;
    }

    .scTravelPostItemThumb{
        margin-bottom:1.1235vw;
    }


    .scTravelPostItemCont-country{
        font-size:1.3988vw;
        margin-bottom:0.3932vw;
    }

    .scTravelPostItemCont-title{
        font-size:1.41123vw;
        margin-bottom:1.01123vw;
    }

    .scTravelPostItemContMeta-date{
        font-size:1.3988vw;
        padding-left:1.17977vw;
    }

    .scTravelPostItemContMeta-date:before{
        width:0.8426vw;
        height:0.7865vw;
        background-size:0.8426vw 0.7865vw;
        top:0.5808vw;
    }

    .scTravelPostItemContMeta-address{
        margin-top:0.2247vw;
        font-size:1.3988vw;
        padding-left:1.17977vw;
    }

    .scTravelPostItemContMeta-address:before{
        width:0.6179vw;
        height:0.8988vw;
        background-size:0.6179vw 0.8988vw;
        top:0.5247vw;
        left:0.1123vw;
    }
}

@media screen and (max-width: 767px) and (min-width: 1px) {
    .scTravelPostTotal{
        margin-bottom:2.4606vw;
        font-size:3.21235vw;
    }

    .scTravelPost-list{
        margin:-2.97303vw -1.5235vw;
    }

    .scTravelPost-item{
        padding:2.97303vw 1.5235vw;
        width:50%;
    }
    
    .scTravelPost-item:nth-child(odd){
        clear:both;
    }

    .scTravelPostItemThumb{
        margin-bottom:2.1235vw;
    }


    .scTravelPostItemCont-country{
        font-size:3.23988vw;
        margin-bottom:0.3932vw;
    }

    .scTravelPostItemCont-title{
        font-size:3.41123vw;
        margin-bottom:2.01123vw;
    }

    .scTravelPostItemContMeta-date{
        font-size:3.23988vw;
        padding-left:2.57977vw;
    }

    .scTravelPostItemContMeta-date:before{
        width:1.6426vw;
        height:1.4865vw;
        background-size:1.6426vw 1.4865vw;
        top:1.2808vw;
    }

    .scTravelPostItemContMeta-address{
        margin-top:0.2247vw;
        font-size:3.23988vw;
        padding-left:2.57977vw;
    }

    .scTravelPostItemContMeta-address:before{
        width:1.2179vw;
        height:1.6988vw;
        background-size:1.2179vw 1.6988vw;
        top:1.3247vw;
        left:0.1123vw;
    }
}

/*페이징*/
.scTravelPaging{
    margin-top:75px;
    text-align:center;
    font-size:0;
    line-height:0;
}

.scTravelPaging-item{
    display:inline-block;
    vertical-align:middle;
    padding:2px 2px;
}



.scTravelPaging-link{
    width:38px;
    height:38px;
    padding:9px 5px;
    font-size:15px;
    line-height:1.3em;
    color:#000 !important;
    display:block;
    position:relative;
}

span.scTravelPaging-link{
    font-weight:bold;
}

.first .scTravelPaging-link{
    border:solid 1px #000;
}

.prev .scTravelPaging-link{
    border:solid 1px #000;
    margin-right:25px;
}

.next .scTravelPaging-link{
    border:solid 1px #000;
    margin-left:25px;
}

.last .scTravelPaging-link{
    border:solid 1px #000;
}

.first .scTravelPaging-link:after{
    content:"";
    width:10px;
    height:10px;
    background-image:url(https://image.scienceall.com/2021/12/scTravel-first.png);
    background-size:10px 10px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.prev .scTravelPaging-link:after{
    content:"";
    width:5px;
    height:10px;
    background-image:url(https://image.scienceall.com/2021/12/scTravel-prev.png);
    background-size:5px 10px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}


.next .scTravelPaging-link:after{
    content:"";
    width:5px;
    height:10px;
    background-image:url(https://image.scienceall.com/2021/12/scTravel-prev.png);
    background-size:5px 10px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) rotate(180deg);
}


.last .scTravelPaging-link:after{
    content:"";
    width:10px;
    height:10px;
    background-image:url(https://image.scienceall.com/2021/12/scTravel-first.png);
    background-size:10px 10px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) rotate(180deg);
}

/*Responsive*/
@media screen and (max-width: 1780px) and (min-width: 1025px) {
    .scTravelPaging{
        margin-top:4.21348vw;
    }

    .scTravelPaging-item{
        padding:2px 2px;
    }

    .scTravelPaging-link{
        width:2.1348vw;
        height:2.1348vw;
        padding:0.5056vw 0.2808vw;
        font-size:0.8426vw;
    }

    .prev .scTravelPaging-link{
        margin-right:1.4044vw;
    }

    .next .scTravelPaging-link{
        margin-left:1.4044vw;
    }

    .first .scTravelPaging-link:after{
        width:0.5617vw;
        height:0.5617vw;
        background-size:0.5617vw 0.5617vw;
    }

    .prev .scTravelPaging-link:after{
        width:0.28089vw;
        height:0.5617vw;
        background-size:0.28089vw 0.5617vw;
    }


    .next .scTravelPaging-link:after{
        width:0.28089vw;
        height:0.5617vw;
        background-size:0.28089vw 0.5617vw;
    }


    .last .scTravelPaging-link:after{
        width:0.5617vw;
        height:0.5617vw;
        background-size:0.5617vw 0.5617vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .scTravelPaging{
        margin-top:4.21348vw;
    }

    .scTravelPaging-item{
        padding:2px 2px;
    }

    .scTravelPaging-link{
        width:2.9348vw;
        height:2.9348vw;
        padding:0.5056vw 0.2808vw;
        font-size:1.3426vw;
    }

    .prev .scTravelPaging-link{
        margin-right:1.4044vw;
    }

    .next .scTravelPaging-link{
        margin-left:1.4044vw;
    }

    .first .scTravelPaging-link:after{
        width:0.5617vw;
        height:0.5617vw;
        background-size:0.5617vw 0.5617vw;
    }

    .prev .scTravelPaging-link:after{
        width:0.28089vw;
        height:0.5617vw;
        background-size:0.28089vw 0.5617vw;
    }


    .next .scTravelPaging-link:after{
        width:0.28089vw;
        height:0.5617vw;
        background-size:0.28089vw 0.5617vw;
    }


    .last .scTravelPaging-link:after{
        width:0.5617vw;
        height:0.5617vw;
        background-size:0.5617vw 0.5617vw;
    }
}

@media screen and (max-width: 767px) and (min-width: 1px) {
    .scTravelPaging{
        margin-top:9.21348vw;
    }

    .scTravelPaging-item{
        padding:2px 2px;
    }

    .scTravelPaging-link{
        width:5.9348vw;
        height:5.9348vw;
        padding:0.5056vw 0.2808vw;
        font-size:3.3426vw;
    }

    .prev .scTravelPaging-link{
        margin-right:1.4044vw;
    }

    .next .scTravelPaging-link{
        margin-left:1.4044vw;
    }

    .first .scTravelPaging-link:after{
        width:1.5617vw;
        height:1.5617vw;
        background-size:1.5617vw 1.5617vw;
    }

    .prev .scTravelPaging-link:after{
        width:1.08089vw;
        height:1.5617vw;
        background-size:1.08089vw 1.5617vw;
    }


    .next .scTravelPaging-link:after{
        width:1.08089vw;
        height:1.5617vw;
        background-size:1.08089vw 1.5617vw;
    }


    .last .scTravelPaging-link:after{
        width:1.5617vw;
        height:1.5617vw;
        background-size:1.5617vw 1.5617vw;
    }
}

/*팝업*/
.scTravelPopup{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2000;
    opacity:0;
    visibility:hidden;
}

.is-active.scTravelPopup{
    opacity:1;
    visibility:visible;
}

.scTravelPopup-bg{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.3);
}

.scTravelPopupBody{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:calc(100% - 40px);
    max-width:550px;
    z-index:50;
    background-color:#fff;
}

.scTravelPopup-close{
    position:absolute;
    top:20px;
    right:20px;
    width:20px;
    height:20px;
    background-image:url(https://image.scienceall.com/2021/12/scTravel-pop-close.png);
    background-size:20px 20px;
    z-index:50;
}

/*Responsive*/
@media screen and (max-width: 1780px) and (min-width: 1025px) {
    .scTravelPopup-close{
        top:1.1235vw;
        right:1.1235vw;
        width:1.1235vw;
        height:1.1235vw;
        background-size:1.1235vw 1.1235vw;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {
    .scTravelPopupBody{
        max-width:38.722vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .scTravelPopup-close{
        top:2.1235vw;
        right:2.1235vw;
        width:3.1235vw;
        height:3.1235vw;
        background-size:3.1235vw 3.1235vw;
    }
}

@media screen and (max-width: 767px) and (min-width: 1px) {
    .scTravelPopup-close{
        top:3.1235vw;
        right:3.1235vw;
        width:4.1235vw;
        height:4.1235vw;
        background-size:4.1235vw 4.1235vw;
    }
}

html.is-hidden{
    overflow:hidden;
}

/*=========================================================
  SingleCardSlide
=========================================================*/
/*=========================================================
  Swiper Basic CSS
=========================================================*/
.SingleCardSlide .swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.SingleCardSlide .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform: translate3d(0px, 0, 0);
}

.SingleCardSlide .swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.SingleCardSlide .swiper-slide img{
    display:block;
    width:100%;
}

.SingleCardSlide .swiper-container-fade .swiper-slide{
    transition-property: opacity;
}

.SingleCardSlide .swiper-button-disabled {
  opacity: 0.15;
  cursor: auto;
  pointer-events: none;
}

.SingleCardSlide .is-slide_disable .swiper-button-prev {
  display: none;
}

.SingleCardSlide .is-slide_disable .swiper-button-next {
  display: none;
}

.SingleCardSlide .swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.SingleCardSlide .swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 1px;
  height: 98%;
}

.SingleCardSlide .swiper-scrollbar-drag {
   height: 100%;
  width: 100%;
  position: relative;
  background-color: #000;
  border-radius:0;
  left: -1px;
  top: 0;
  width: 3px;
}

.SingleCardSlide .swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.SingleCardSlide .swiper-button-lock {
  display: none;
}


.SingleCardSlide{
    overflow:hidden;
    line-height:0;
}

.SingleCardSlideThumb-item:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.3);
}

.SingleCardSlide-inner{
    position:relative;
}


.swiper-slide-thumb-active.SingleCardSlideThumb-item:after{
    display:none;
}

.SingleCardSlide-prev{
    width:28px;
    height:48px;
    background-image:url(https://image.scienceall.com/2021/12/scTravel-pop-next.png);
    background-size:28px 48px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(180deg);
    left:0;
    z-index:50;
    opacity:0.6;
    cursor:pointer;
}

.SingleCardSlide-next{
    width:28px;
    height:48px;
    background-image:url(https://image.scienceall.com/2021/12/scTravel-pop-next.png);
    background-size:28px 48px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:0;
    z-index:50;
    opacity:0.6;
    cursor:pointer;
}

.SingleCardSlide-count{
    width:60px;
    height:60px;
    position:absolute;
    top:-5px;
    left:10px;
    z-index:50;
    background-size:60px 60px;
}

.SingleCardSlide-count.step1{
    background-image:url(https://image.scienceall.com/2021/12/scTravel-count1.png);
}

.SingleCardSlide-count.step2{
    background-image:url(https://image.scienceall.com/2021/12/scTravel-count2.png);
}

.SingleCardSlide-count.step3{
    background-image:url(https://image.scienceall.com/2021/12/scTravel-count3.png);
}

.SingleCardSlide-count.step4{
    background-image:url(https://image.scienceall.com/2021/12/scTravel-count4.png);
}

.SingleCardSlide-count.step5{
    background-image:url(https://image.scienceall.com/2021/12/scTravel-count5.png);
}


/*Responsive*/
@media screen and (max-width: 1780px) and (min-width: 1025px) {
    .SingleCardSlide-prev{
        width:2.0786vw;
        height:2.80898vw;
        background-size:2.0786vw 2.80898vw;
    }

    .SingleCardSlide-next{
        width:2.0786vw;
        height:2.80898vw;
        background-size:2.0786vw 2.80898vw;
    }

    .SingleCardSlide-count{
        width:3.37078vw;
        height:3.37078vw;
        top:-0.2808vw;
        left:0.5617vw;
        background-size:3.37078vw 3.37078vw;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .SingleCardSlide-prev{
        width:4.0786vw;
        height:5.80898vw;
        background-size:4.0786vw 5.80898vw;
    }

    .SingleCardSlide-next{
        width:4.0786vw;
        height:5.80898vw;
        background-size:4.0786vw 5.80898vw;
    }

    .SingleCardSlide-count{
        width:6.37078vw;
        height:6.37078vw;
        top:-0.2808vw;
        left:2.0617vw;
        background-size:6.37078vw 6.37078vw;
    }
}

@media screen and (max-width: 767px) and (min-width: 1px) {
    .SingleCardSlide-prev{
        width:5.0786vw;
        height:6.80898vw;
        background-size:5.0786vw 6.80898vw;
    }

    .SingleCardSlide-next{
        width:5.0786vw;
        height:6.80898vw;
        background-size:5.0786vw 6.80898vw;
    }

    .SingleCardSlide-count{
        width:9.37078vw;
        height:9.37078vw;
        top:-0.2808vw;
        left:2.5617vw;
        background-size:9.37078vw 9.37078vw;
    }
}
